<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 class="title">Parts List</h1>
    <nav>
        <ul class="nav-links">
            <li><a th:href="@{/}">Home</a></li>
            <li th:if="${!isAuthenticated}"><a th:href="@{/auth/login}">Login</a></li>
            <li th:if="${!isAuthenticated}"><a th:href="@{/auth/register}">Register</a></li>
            <li th:if="${isAuthenticated}"><a th:href="@{/auth/logout}">Logout</a></li>
        </ul>
    </nav>
</div>
<title>Access Denied</title>
<h1>You are not logged in!</h1>
<h2>Please log or register to see all our posts!</h2>
<h2 class="error" th:text="${error}">Error placeholder</h2>
</body>
</html>
</body>
</html>