<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gudex Warehouse</title>
</head>
<body>

<header class="site-header">
    <div class="container">
        <h1 class="title">Login to Gudex Warehouse</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a></li>
                <li><a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="login-container">
        <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post" class="login-form">
            <label for="email" th:text="#{user.label.email}">Email</label>
            <input type="text" id="email" th:field="*{email}" placeholder="Enter your email">
            <label th:errors="*{email}" class="error-msg">Email error placeholder.</label>

            <label for="password" th:text="#{user.label.password}">Password</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Enter your password">
            <label th:errors="*{password}" class="error-msg">Password error placeholder.</label>

            <input type="submit" value="Login" class="login-btn">
        </form>
    </div>
</main>

<footer>
    <div class="container">
        <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' Photo Contest'}">© 2024 Photo
            Contest</small>
    </div>
</footer>
</body>
</html>